.div-counter {
  margin-bottom: 2rem;
}

.button {
  color: white;
  background-color: black;
  padding: 1rem;
}

.button:hover {
  color: black;
  background-color: white;
}

.div-count {
  margin-bottom: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}
