.cards {
  color: white;
  background: linear-gradient(to left, #018f8f, #51f7f7);
  padding-bottom: 3rem;
  margin: 3rem;
  display: flex;
  justify-content: center;
}

.detalles {
  color: aqua;
  background-color: black;
  padding: 0.9rem;
}

.img-item {
  width: 300px;
}
