.NavBar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(to right, #018f8f, #51f7f7);
  padding: 1rem;
}

.LogoMarca {
  height: 8vmin;
}

.ActiveLink {
  color: rgb(207, 198, 30);
  padding: 1.2rem;
  background-color: black;
  font-size: 1.5rem;
  border-radius: 10%;
  opacity: 1;
}

.Link {
  color: black;
  padding: 1rem;
  background-color: rgb(207, 198, 30);
  font-size: 1.3rem;
  border-radius: 10%;
  opacity: 0.8;
}

.Link:hover {
  color: rgb(207, 198, 30);
  background-color: black;
  opacity: 1;
}
