.item-detail {
  background: linear-gradient(to left, #018f8f, #51f7f7);
  color: black;
  display: flex;
  justify-content: center;
}

.nombre {
  font-size: 2rem;
  font-weight: bolder;
}

.imagen {
  width: 250px;
}

.descripcion {
  font-size: 1.5rem;
  font-weight: 600;
}
