.h1-check {
  margin: 2rem;
  font-weight: bold;
}

.h2-checkout {
  margin-bottom: 2rem;
  text-decoration: underline;
}

.h2-check {
  margin-top: 2rem;
}

.h4-checkout {
  background-color: black;
  color: aliceblue;
  margin-top: 1rem;
  padding: 1rem;
}

.button-checkout {
  padding: 1rem;
  font-size: medium;
  font-weight: bold;
  background-color: aliceblue;
  color: black;
}

.formulario {
  font-size: 1rem;
  padding-left: 1rem;
}

.datos {
  font-size: 1.1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.form {
  display: grid;
  justify-items: center;
  gap: 1em;
}

.button-form {
  padding: 1rem 5rem 1rem 5rem;
}
